{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>QueryStocks</h1>
            
            {% if session['username'] %}
            <h3>Welcome, {{ session['username'] }}</h3>
            <p>Nevigate to <a href="{{ url_for('stocks') }}">Stocks</a> to see all stocks in our database. You can add stocks to
            <a href="{{ url_for('watchlist') }}">Watchlist</a>, so you can easily keep track of stocks that interest you. 
            You can also 'buy' stocks and track your progress in <a href="{{ url_for('portfolio') }}">Portfolio</a>.</p>
            {% else %}
            <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
            {% endif %}
        
        </div>
    </div>
{% endblock %}