{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>QueryStocks</h1>
            
            {% if session['username'] %}
            <h3>Welcome</h3>
            {% else %}
            <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
            {% endif %}
        </div>
    </div>

    <!-- <table>
        <thead>
            <td>User ID</td>
            <td>User Name</td>
            <td>Password</td>
            <td>Account Balance</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{row["u_userid"]}}</td>
                <td>{{row["u_username"]}}</td>
                <td>{{row["u_password"]}}</td>
                <td>{{row["u_acctbal"]}}</td>
            </tr>
        {% endfor %}
    </table> -->
{% endblock %}