{% extends "layout.html" %}

{% block content %}
<div class="container">
    <!-- {% include "includes/nav.html" %} -->
    <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>Login</legend> 
            {{ form.hidden_tag() }}

            <p>
                <input type="text" placeholder="Username" values="{{form.username()}}
                {% for error in form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
                
            </p>
            <p>
                <input type="password" placeholder="Password" values="{{ form.password() }}
                {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>

            <p>
                {{ form.submit() }}
            </p>
        </fieldset>
    </form>
    <!-- <h1>Please login</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username"
            values="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password"
            value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form> -->
    <p>Not registered?<a href="{{ url_for('register') }}"> Register here</a></p>
</div>
{% endblock %}