{% extends "layout.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>All Available Stocks</h1>
    
            </div>
        </div>
    </div>

    <table>
        <thead>
            <td>Ticker</td>
            <td>Price</td>
            <td>Volume</td>
            <td>Market Cap</td>
        </thead>

        {% for row in stock_rows %}
            <tr>
                <td>{{row["s_ticker"]}}</td>
                <td>{{row["s_price"]}}</td>
                <td>{{row["s_volume"]}}</td>
                <td>{{row["s_cap"]}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}