{% extends "layout.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>All Users</h1>
    
            </div>
        </div>
    </div>

    <table class="table table-stripped">
        <thead>
            <td>User Name</td>
            <td>Account Balance</td>
        </thead>

        {% for row in user_rows %}
            <tr>
                <form action="" method="post">
                    <td><input type="hidden" name="user" value="{{ row["u_username"] }}"> {{ row["u_username"] }}</td>
                    <td>{{row["u_acctbal"]}}</td>
                    <td>
                        <input type="submit" name="deleteUser" value="Remove User">
                    </td>
                </form>
            </tr>
        {% endfor %}
    </table>

{% endblock %}