{% extends "layout.html" %}

{% block content %}
{% if session['username'] %}
    <div class="stock-container">

        <!-- <div class="row"> -->
            <!-- <div class="col-md-12 text-center"> -->
                <h1>Stocks</h1>
                
                <!-- {% if session['username'] == 'admin' %}
                <form action="" method="post">
                    <input type="submit" name="updateStocks" value="Update Stocks">
                </form>
                {% endif %} -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <table class="table table-stripped">
        <thead>
            <td>Ticker</td>
            <!-- <td>Quantity</td> -->
            <!-- <td>Volume</td>
            <td>Market Cap</td> -->
        </thead>

        {% for row in watchlist_stock_rows %}
            <tr>
                <td>{{row["w_ticker"]}}</td>
                <!-- <td>{{row["p_quantity"]}}</td> -->
                <!-- <td>{{row["s_volume"]}}</td>
                <td>{{row["s_cap"]}}</td> -->
            </tr>
        {% endfor %}
    </table>

    <div class="stock-container">

        <!-- <div class="row"> -->
            <!-- <div class="col-md-12 text-center"> -->
                <h1>Crypto</h1>
                <!-- {% if session['username'] == 'admin' %}
                <form action="" method="post">
                    <input type="submit" name="updateStocks" value="Update Stocks">
                </form>
                {% endif %} -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <table class="table table-stripped">
        <thead>
            <td>Ticker</td>
            <!-- <td>Quantity</td> -->
            <!-- <td>Volume</td>
            <td>Market Cap</td> -->
        </thead>

        {% for row in watchlist_crypto_rows %}
            <tr>
                <td>{{row["w_ticker"]}}</td>
                <!-- <td>{{row["p_quantity"]}}</td> -->
                <!-- <td>{{row["s_volume"]}}</td>
                <td>{{row["s_cap"]}}</td> -->
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Login to access your watchlist.<a href="{{ url_for('login') }}"> Login</a></p>
{% endif %}



{% endblock %}