<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link {% if home %}active{% endif %}">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('stocks') }}" class="nav-link {% if stocks %}active{% endif %}">Stocks</a></li>
            <li class="nav-item"><a href="{{ url_for('portfolio') }}" class="nav-link {% if portfolio %}active{% endif %}">Portfolio</a></li>
            <li class="nav-item"><a href="{{ url_for('watchlist') }}" class="nav-link {% if watchlist %}active{% endif %}">Watchlist</a></li>
            {% if not session['username'] %}
            <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link {% if register %}active{% endif %}">Register</a></li>
            {% endif %}

            {% if not session['username'] %}
            <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Login</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr style="clear:both">
</header>