<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link {% if home %}active{% endif %}">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('stocks') }}" class="nav-link {% if stocks %}active{% endif %}">Stocks</a></li>
            <li class="nav-item"><a href="{{ url_for('portfolio') }}" class="nav-link {% if portfolio %}active{% endif %}">Portfolio</a></li>
            <li class="nav-item"><a href="{{ url_for('watchlist') }}" class="nav-link {% if watchlist %}active{% endif %}">Watchlist</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>